DB_HOST=localhost
DB_USER=
DB_PASSWORD=
DB_NAME=nkg_importados
DB_PORT=3306

MERCADOPAGO_ACCESS_TOKEN=seu_access_token_de_teste_aqui
MERCADOPAGO_PUBLIC_KEY=sua_public_key_de_teste_aqui
FRONTEND_URL=

JWT_SECRET=
PORT=3000